@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
li {
  list-style: none;
}

.textColor {
  background-image: linear-gradient(
    0deg,
    #926efb 100%,
    #465bd7 100%,
    #4a56ab 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.backgroundColor {
  background-image: linear-gradient(
    0deg,
    #926efb 100%,
    #465bd7 100%,
    #4a56ab 100%
  );
}
.gradient-border {
  border: 2px solid transparent;
  border-image-source: linear-gradient(
    133.89deg,
    #926efb 2.43%,
    #ffffff 51.07%
  );
  border-image-slice: 1;
  border-radius: 10px;
}

.subText {
  background: linear-gradient(
    119.19deg,
    #926efb 1.65%,
    #465bd7 126.29%,
    #4a56ab 126.29%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.workText {
  background: rgba(111, 119, 130, 1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
